@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap');


.bg-holder {
	opacity: 0.6;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: auto;
}

.fullscreen-video {
	position: fixed;
	overflow: hidden;
	top: 50%;
	left: 50%;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	transform: translateX(-50%) translateY(-50%);
	z-index: -10;
}

.bg-overlay {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
	background-color: #000;
	opacity: 0.6;
	z-index: -9;
}

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translateX(-20px);
	}

	100% {
		opacity: 1;
		transform: translateX(0);
	}
}



#home {
	position: fixed;
	overflow: auto;
	left: 0;
	right: 0;
	bottom: 0;
	top: 0;
	padding: 0 !important;
	padding-top: 4rem !important;

	.bg-holder {
		background: -webkit-linear-gradient(right, rgba(36, 59, 85, 1), rgba(20, 30, 48, 1));
		background: linear-gradient(to left, rgba(36, 59, 85, 1), rgba(20, 30, 48, 1));
		position: absolute;
		top: 0;
		bottom: 0;
		right: 0;
		width: 100%;
		height: 100%;
		left: 0;
		opacity: .8 !important;
	}

	.home-title {
		animation-name: fadeInLeft;
		font-family: 'Rajdhani', sans-serif !important;
		// font-size: 54;
	}

	.container-menu {
		width: 100%;
		height: 100px;
		position: absolute;
		// background-color: red;
		// bottom: 0;
		left: 0;
		display: flex;
		justify-content: center;
	}
}

.button.second {
	padding-left: 30px;
	padding-right: 30px;
	max-height: 30px;
	width: 200px;
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-left: 15px;
	margin-right: 15px;

	&.bg-active {
		background-color: rgba(36, 59, 85, 1);
		padding-top: 5px;
		padding-bottom: 5px;
		font-size: 1.2em;
	}

	$colors: rgb(220, 220, 220);
	$colors-active: #fff;



	&::before {
		content: "";
		width: 10%;
		height: 100%;
		left: 0;
		top: 0;
		position: absolute;
		border-left: solid 2px $colors;
		border-top: solid 2px $colors;
		border-bottom: solid 2px $colors;

		transition: all 0.3s ease;
		border-top-left-radius: 3px;
		border-bottom-left-radius: 3px;
	}

	&::after {
		content: "";
		width: 10%;
		height: 100%;
		right: 0;
		top: 0;
		position: absolute;
		border-right: solid 2px $colors;
		border-top: solid 2px $colors;
		border-bottom: solid 2px $colors;

		transition: all 0.3s ease;
		border-top-right-radius: 3px;
		border-bottom-right-radius: 3px;
	}

	&:hover {
		cursor: pointer;
		box-shadow: rgba(255, 255, 255, 1) 0px 50px 100px -20px, rgba(255, 255, 255, 1) 0px 30px 60px -30px;

		&::before,
		&::after {
			width: 50%;
		}

		.background {
			height: 100%;
			background-color: rgba(36, 59, 85, .5);
			transition-delay: 0.3s;
			top: 0;
			color: $colors-active;
		}

		h1 {
			color: white;
			transition-delay: 0.3s;
		}
	}

	div.background {
		min-width: 100%;
		height: 0;
		position: absolute;
		background-color: $colors;
		opacity: 0.5;
		bottom: 0;
		left: 0;
		transition: all ease 0.3s;
		border-radius: 5px;
	}

	h1 {
		width: fit-content;
		z-index: 5;
		text-transform: uppercase;
		color: $colors;
		transition: all ease 0.5s;
		font-family: 'Rajdhani', sans-serif !important;
		font-size: 1.2em;
		margin: 0 !important;
	}
}

.line-chart {
	animation: fadeIn 600ms cubic-bezier(.57, .25, .65, 1) 1 forwards;
	opacity: 0;
	max-width: 640px;
	width: 100%;
}

.aspect-ratio {
	height: 0;
	padding-bottom: 50%; // 495h / 990w
}

@keyframes fadeIn {
	to {
		opacity: 1;
	}
}
