@import "../../../../scss/mediaQuery.scss";

.my-icon {
	border-radius: 100%;
	width: 20px;
	height: 20px;
	text-align: center;
	line-height: 20px;
	color: white;
}

.mapboxgl-popup-close-button {
	display: none !important;
}

.icon-dc {
	background: #3bb2d0;
}

.root-map {
	width: 100%;
	height: 100%;

	.map-container {
		width: 100%;
		height: 100%;

		.mapboxgl-canvas-container {
			cursor: default;
		}

		&.right-sidebar-active,
		.mapboxgl-canvas {
			width: calc(100% - 300px);

			@include for-size("tablet-landscape-up") {
				width: calc(100% - 400px);
			}
		}
	}

	.btn-sidebar {
		position: fixed;
		left: 50px;
		top: 50px;
		background-color: #fff;
		border: 0;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		width: 50px;
		height: 50px;
		border-radius: 10px;
		z-index: 1;

		&:active {
			background-color: rgb(237, 237, 237);

		}
	}

	.btn-sidebar-close {
		background-color: #fff;
		border: 0;
		box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
		width: 40px;
		height: 40px;
		border-radius: 10px;

		&:active {
			background-color: rgb(237, 237, 237);

		}
	}

	// left sidebar
	$width : 350px;



	.sidebar-map {
		position: fixed;
		left: -5000px;
		top: 0;
		background-color: #fff;
		min-width: $width;
		min-height: 100%;
		width: $width;
		transition: left ease 300ms;
		z-index: 99999;
		box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

		@include for-size("phone-only") {
			width: 100%;
		}

		.top-sid {
			height: 80px;
			width: $width;
			padding: 10px;
			position: fixed;
			z-index: 99999;
			left: 0px;
			top: 0px;

			@include for-size("phone-only") {
				width: 100%;
				padding: 0px;
				height: 60px;
			}

			.container-top-sid {
				height: 100%;
				width: 100%;
				box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
				display: flex;
				justify-content: space-between;
				align-items: center;
				padding: 5px;
				background-color: #fff;
				border-radius: 5px;
			}
		}

		&.active {
			left: 0px;
			transition: left ease 300ms;
		}
	}

	.sidebar-map-right {
		position: fixed;
		right: -400px;
		top: 0;
		background-color: #F6FBF4;
		width: 300px;
		min-width: 300px;
		height: 100%;
		transition: right ease 300ms;
		box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
		// padding: 5px;
		overflow-y: auto;
		overflow-x: hidden;
		z-index: 99999;

		@include for-size("tablet-landscape-up") {
			width: 400px;
		}

		&.active {
			right: 0px;
			transition: right ease 300ms;
		}
	}

	.InfoWindowMulty {
		min-height: 250px;
		width: 200px;
		height: 270px;
		background-color: #fff;
		border-radius: 5px;
		position: fixed;
		right: 50px;
		bottom: 50px;
		box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	}
}

.map-change-container {
	position: fixed;
	top: 0;
	left: 0;
	// left: 50%;
	// transform: translateX(-50%);
	width: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	display: flex;
	justify-content: center;
	align-items: center;


	$--white: #fff;
	$--smoke-white: #f1f3f5;
	$--blue: #4169e1;


	.selector {
		position: relative;
		width: 60%;
		background-color: $--smoke-white;
		height: 60px;
		display: flex;
		justify-content: space-around;
		align-items: center;
		border-radius: 9999px;
		box-shadow: 0 0 16px rgba(0, 0, 0, .2);
	}

	.selecotr-item {
		position: relative;
		flex-basis: calc(70% / 3);
		height: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		label {
			margin: 0 !important;
		}
	}

	.selector-item_radio {
		appearance: none;
		display: none;
	}

	.selector-item_label {
		position: relative;
		height: 50%;
		width: 100%;
		text-align: center;
		border-radius: 9999px;
		font-weight: 900;
		transition-duration: .5s;
		transition-property: transform, color, box-shadow;
		transform: none;
	}

	.selector-item_radio:checked+.selector-item_label {
		background-color: $--blue;
		color: $--white;
		box-shadow: 0 0 4px rgba(0, 0, 0, .5), 0 2px 4px rgba(0, 0, 0, .5);
		transform: translateY(-2px);
	}

	@media (max-width:480px) {
		.selector {
			width: 90%;
		}
	}
}

.mapboxgl-popup-content {
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px !important;
}

.box-popup {
	width: 200px;
	min-height: 100px;
	border-radius: 10px;
	background-color: #fff;
	font-size: .8em !important;
	font-family: 'Poppins', sans-serif;

	.header-popup {
		display: flex;
		justify-content: space-between;
	}

	.box-container-popup {
		width: 100%;

		.items-popup {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}
	}

	hr {
		margin: 0 !important;
		margin-bottom: 5px;
	}
}
